In [1]:
from selenium import webdriver
import json
import time

class Cookies:
    def __init__(self, driver):
        self.driver = driver

    def save_cookies(self):
        cookies = self.driver.get_cookies()
        json_cookies = json.dumps(cookies)
        # 保存cookies，方便后续加载使用
        with open('cookies.json', 'w', encoding='utf-8') as f:
            f.write(json_cookies)

    def add_cookies(self):
        # 加载前先清除之前的cooikes，防止影响
        self.driver.delete_all_cookies()
        with open('cookies.json', 'r', encoding='utf-8') as f:
            list_cookies = json.loads(f.read())
        for i in list_cookies:
            self.driver.add_cookie(i)

In [2]:
import pymysql
from sqlalchemy import create_engine
'''
save_to_mysql方法将数据导入到mysql数据库里
'''
def save_to_mysql(data,table_name):
    engine = create_engine("mysql+pymysql://{}:{}@{}/{}?charset={}".format('root', 'welcome2019', '127.0.0.1:3306', 'WebDataOfTeachers','utf8mb4'))
    con = engine.connect()#创建连接
    data.to_sql(name=table_name, con=con, if_exists='append', index=False)#将dataframe导入到mysql数据库的“teachers”表中。

In [3]:
'''
to_dataframe方法将数据转为dataframe，方便后续数据操作与整理
'''
import pandas
def to_dataframe(data):
    data=pandas.DataFrame(data)#将list类型的数据转为dataframe
    data=data[data['name']!=""]#去除name为空字符串的记录
    return data

In [20]:
def get_data(jobs):
    info=driver.find_elements_by_class_name("job-primary")
    for item in info:
        job={}
        
        job['name']=item.find_element_by_class_name("job-name").text
        job['address']=item.find_element_by_class_name("job-area-wrapper").text
        job['update']=item.find_element_by_class_name("job-pub-time").text
        job['wage']=item.find_element_by_class_name("red").text
        job['degree']=item.find_element_by_class_name("job-limit").find_element_by_tag_name("p").text
        job['company']=item.find_element_by_class_name("company-text").find_element_by_class_name("name").text
        job['company_info']=item.find_element_by_class_name("company-text").find_element_by_tag_name("p").text
        job['tag']=item.find_element_by_class_name("tags").text
        btn=item.find_element_by_class_name("job-title")
        btn.click()
        # 获取当前全部窗口句柄集合；循环句柄并判断是否与当前打开的页面一致，不一致就关闭并切换到一致的窗口句柄
        handles = driver.window_handles
        driver.switch_to.window(handles[1])
        time.sleep(1)
        job['detail']=driver.find_element_by_class_name("job-sec").find_element_by_class_name("text").text
        driver.close()
        driver.switch_to.window(handles[0])
        time.sleep(1)
        jobs.append(job)

In [33]:
url = 'https://www.zhipin.com/job_detail/?ka=header-job'
option = webdriver.ChromeOptions()
# option.add_argument("--headless")
option.add_experimental_option('excludeSwitches', ['enable-automation'])
driver = webdriver.Chrome('chromedriver.exe',options=option)
driver.maximize_window()
driver.implicitly_wait(30) # 隐性等待，最长等30秒
driver.get(url)
# input()
cookies = Cookies(driver)
# 保存cookies
# cookies.save_cookies()
# 加载cookies
cookies.add_cookies()
driver.refresh()
driver.get(url)

In [40]:
url=[
    "https://www.zhipin.com/c101190400-p100599/?ka=sel-city-101190400"
]

In [41]:
for i in url:
    driver.get(i)
    btn=driver.find_element_by_class_name("page").find_element_by_class_name("next")
    count=0
    while 1:
        jobs=[]
        get_data(jobs)
        data=to_dataframe(jobs)
        save_to_mysql(data,"jobs1")
        btn.click()
        time.sleep(3)
        btn=driver.find_element_by_class_name("page").find_element_by_class_name("next")
        count=count+1
        print(count)
        if count==5:
            break

Exception during reset or similar
Traceback (most recent call last):
  File "D:\anaconda\envs\python36\lib\site-packages\pymysql\connections.py", line 713, in _write_bytes
    self._sock.sendall(data)
ConnectionAbortedError: [WinError 10053] 你的主机中的软件中止了一个已建立的连接。

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "D:\anaconda\envs\python36\lib\site-packages\sqlalchemy\pool\base.py", line 693, in _finalize_fairy
    fairy._reset(pool)
  File "D:\anaconda\envs\python36\lib\site-packages\sqlalchemy\pool\base.py", line 880, in _reset
    pool._dialect.do_rollback(self)
  File "D:\anaconda\envs\python36\lib\site-packages\sqlalchemy\dialects\mysql\base.py", line 2302, in do_rollback
    dbapi_connection.rollback()
  File "D:\anaconda\envs\python36\lib\site-packages\pymysql\connections.py", line 429, in rollback
    self._execute_command(COMMAND.COM_QUERY, "ROLLBACK")
  File "D:\anaconda\envs\python36\lib\site-packages\pymysql\connections.py", line 771, in _execute_command
    self._write_bytes(packet)
  File "D:\anaconda\envs\python36\lib\site-packages\pymysql\connections.py", line 718, in _write_bytes
    "MySQL server has gone away (%r)" % (e,))
pymysql.err.OperationalError: (2006, "MySQL server has gone away (ConnectionAbortedError(10053, '你的主机中的软件中止了一个已建立的连接。', None, 10053, None))")
Exception during reset or similar
Traceback (most recent call last):
  File "D:\anaconda\envs\python36\lib\site-packages\pymysql\connections.py", line 713, in _write_bytes
    self._sock.sendall(data)
ConnectionAbortedError: [WinError 10053] 你的主机中的软件中止了一个已建立的连接。

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "D:\anaconda\envs\python36\lib\site-packages\sqlalchemy\pool\base.py", line 693, in _finalize_fairy
    fairy._reset(pool)
  File "D:\anaconda\envs\python36\lib\site-packages\sqlalchemy\pool\base.py", line 880, in _reset
    pool._dialect.do_rollback(self)
  File "D:\anaconda\envs\python36\lib\site-packages\sqlalchemy\dialects\mysql\base.py", line 2302, in do_rollback
    dbapi_connection.rollback()
  File "D:\anaconda\envs\python36\lib\site-packages\pymysql\connections.py", line 429, in rollback
    self._execute_command(COMMAND.COM_QUERY, "ROLLBACK")
  File "D:\anaconda\envs\python36\lib\site-packages\pymysql\connections.py", line 771, in _execute_command
    self._write_bytes(packet)
  File "D:\anaconda\envs\python36\lib\site-packages\pymysql\connections.py", line 718, in _write_bytes
    "MySQL server has gone away (%r)" % (e,))
pymysql.err.OperationalError: (2006, "MySQL server has gone away (ConnectionAbortedError(10053, '你的主机中的软件中止了一个已建立的连接。', None, 10053, None))")

1
2
3
4
5

In [31]:
data

,name,address,update,wage,degree,company,company_info,tag,detail
0,数据库开发实习生,深圳·龙华区·龙华,发布于09月29日,120-140元/天,5天/周6个月大专,晨科软件,计算机软件不需要融资100-499人,MySQL 数据仓库 数据开发 数据库开发,1.在项目经理的带领下，基于“晨科全业务管理平台”，开发测试ERP、CRM、OA等管理软件。...
1,数据分析,深圳,发布于04月02日,9-14K·15薪,1年以内本科,乐易,游戏不需要融资100-499人,SQL Python R,工作职责：\n负责对游戏道具流转相关数据的分析工作：\n1、构建流转渠道及相关道具的数据字典...
2,数据分析(实习),深圳·龙岗区·坂田,发布于01月18日,200-250元/天,3天/周3个月本科,猜数科技,互联网未融资0-20人,数据分析,工作内容：分析电商平台广告投放数据以优化投放效果，分析商品类目支撑\n产品开发决策，监测社交...
3,NLP 算法工程师 （校招）,深圳·福田区·梅林,发布于03月21日,15-25K·14薪,在校/应届本科,来觅数据,互联网A轮20-99人,Python 深度学习算法 自然语言处理 机器学习算法,岗位职责\n1. 利用 NLP、机器学习技术进行文本挖掘及建模工作；\n2. 设计策略和算法...
4,计划审核专员,深圳·龙华区·民治,发布于04月02日,6-8K,1年以内大专,深圳市利朗达,电子商务B轮1000-9999人,Excel 函数 SQL python Hadoop,岗位职责\n1.审核各销售端每日备货计划；\n2.接收相关部门数据，按时维护和更新数据；\n...
5,数据分析师,深圳·龙岗区·坂田,发布于08月10日,6-8K,1年以内大专,亚飞电商,电子商务不需要融资1000-9999人,数据分析 EXCEL Tableau SAS SPSS,岗位职责\n1、了解业务，针对亚马逊平台的数据进行分析， 定期输出分析报告，例如：销量与流量...
6,物料员,深圳·龙岗区·坂田,发布于03月27日,5-7K,1年以内高中,莱特宁耐科技有限公司,电子商务不需要融资100-499人,物料,工作内容：|\n不错： 笔笔有帐，帐卡物相符；\n不坏：物物可用，质量确保；\n不乱：井然有...
7,数据分析实习生,深圳·南山区·科技园,发布于01月18日,80-120元/天,3天/周3个月本科,点宽科技,互联网未融资20-99人,数据分析 数据挖掘,工作职责：\n1、数据集的整理和处理；\n2、数据分析相关课程开发；\n3、使用python...
8,大数据工程师,深圳·南山区·海岸城,发布于04月12日,7-12K,在校/应届本科,房极客,互联网B轮100-499人,Python Java Shell Scala Spark,岗位职责：\n1、负责大数据平台的开发、测试和维护工作。\n2、负责大数据相关的业务，如业务...
9,技术专员/ 网络管理,深圳·龙华区·龙华,发布于07月17日,4-5K,在校/应届学历不限,小妮子财务,企业服务不需要融资20-99人,数据库开发 网络推广 数据处理 数据采集,1、负责网络推广管理，APP运营管理，数据处理开发及分配，客户资源开发\n2、负责日常开发工...
10,渠道运营助理,深圳·南山区·南头,发布于04月14日,6-8K,1年以内本科,深圳市圣斯丹科技,互联网不需要融资0-20人,信息流,岗位职责：\n1、负责交友产品的渠道推广，负责渠道对接测试及广告优化准备\n2、针对项目需求...
11,ETL工程师,深圳·罗湖区·万象城,发布于04月13日,5-8K,在校/应届本科,上海华颉,计算机软件A轮100-499人,ETL MySQL SQL Server Shell Oracle,全日制统招本科以上学历；\n熟悉Oracle、sqlserver、mysql等一种以上常见数...
12,数据处理助理,深圳·龙岗区·坂田,发布于03月30日,4-6K,在校/应届大专,国开视通,数据服务天使轮0-20人,Java Python,工作职责：\n1. 熟悉excel软件，按照要求录入数据；\n2. ...
13,数据分析师,深圳·龙华区·龙华,发布于04月15日,6-8K,1年以内本科,深圳凌宏电子商务,贸易/进出口不需要融资100-499人,数据分析 SQL Python R BI,岗位职责：\n1、 完善公司数据分析体系，定期提供各部门所需日报，周报，月报等相关数据分析报...
14,数据处理实习生,深圳·南山区·科技园,发布于11月11日,120-150元/天,4天/周3个月大专,梦享网络深圳,移动互联网B轮100-499人,excel,岗位描述：\n1、根据业务需求搜集所需数据；\n2、日常Excel数据处理、录入后台；\n3...
15,数据分析师,深圳·福田区·会展中心,发布于09月20日,11-18K·13薪,在校/应届本科,怡亚通信息技术,互联网金融未融资100-499人,数据分析 SQL SAS R 供应链小微信贷,在这里你的成长和发展空间由你的思想高度所决定，没有高大上的给予只有思想和和成就他人，这是一个...
16,亚马逊数据分析师,深圳·龙岗区·坂田,发布于04月13日,10-15K·13薪,1年以内本科,虹悦翔,电子商务不需要融资0-20人,Python SPSS SAS 亚马逊 数据分析,工作职责：\n1、负责亚马逊平台数据分析体系的规划、设计和建设以及选品；\n2、掌握亚马逊站...
17,数据分析(实习),深圳·南山区·科技园,发布于04月10日,100-110元/天,5天/周3个月大专,金龄科技,互联网未融资100-499人,大数据,岗位职责：\n1、参与梳理业务部门的具体数据需求，将业务需求转化为具体数据模型；\n2、参与...
18,跨境电商数据分析员,深圳·龙岗区·坂田,发布于03月22日,6-9K,1年以内大专,奈斯,电子商务未融资500-999人,数据分析 跨境电商,一、工作职责：\n1、负责所属中心的各项数据分析；\n2、供应链工作进度，时效，成果等数据的...
19,数据分析助理,深圳·南山区·科技园,发布于02月24日,4-6K,1年以内大专,懒人听书,互联网C轮100-499人,数据分析,岗位职责：\n岗位职责：\n1.熟悉行业情况，实时了解竞争对手的动态并分析形成报告。\n2....
20,监测数据分析师,深圳·南山区·科技园,发布于01月12日,6-8K,1年以内大专,深圳市地质环境研究院,互联网不需要融资100-499人,Excel,岗位职责：\n1、负责公司监测项目的软硬件产品测试；\n2、负责对监测设备数据质量进行分析和...
21,Python开发实习生,深圳·南山区·前海,发布于11月24日,200-250元/天,5天/周3个月本科,昇腾技术,互联网未融资0-20人,Python 数据开发 数据治理 数据分析 数据采集,岗位职责：\n1. 参与公司智能制造软件项目研发，参与软件功能模块的设计、开发、测试和代码优...
22,数据统计分析员,深圳,发布于03月30日,6-8K·13薪,1年以内本科,立中祥,电子商务未融资500-999人,数据分析 数据统计 电商 统计学 数学,职位描述\n1.使用统计学分析方法、挖掘算法，构建数据分析报表\n2.与产品、运营团队配合，...
23,助理安全工程师（实习）,深圳·南山区·科技园,发布于07月21日,150-200元/天,5天/周3个月本科,永安在线,互联网B轮100-499人,脚本测试 数据分析 汇编语言,【职位描述】\n1. 负责安全产品数据源运营工作，包括数据分析、脚本测试与管理、设备维护等；...
24,量化系统开发实习生,深圳·宝安区·宝安中心区,发布于04月13日,200-300元/天,3天/周6个月本科,易简空间,其他行业A轮20-99人,Python 深度学习算法 机器学习算法 Pandas,【岗位职责】\n1. 辅助研究员构建量化投研系统(python)；\n2. 阅读相关研报和文...
25,量化分析师实习生,深圳·南山区·科技园,发布于04月14日,150-200元/天,3天/周3个月本科,衍盛中国,基金未融资20-99人,Python Pandas 因子挖掘 数据清洗,工作地：深圳\n工作时间：21年1月开始\n可近期到岗 或 有商品期货相关实习经验者优先考虑...
26,数据标定实习生,深圳·南山区·西丽,发布于11月10日,140-150元/天,5天/周4个月大专,牧月科技,计算机软件天使轮20-99人,细心,1.主要负责各类图像、视频的样本整理及标定；\n2.对标定数据进行整理、分析、审核，对标定流...
27,数据分析助理工程师,深圳,发布于03月31日,4-5K·13薪,在校/应届本科,深圳FMC科技,计算机软件A轮20-99人,SQL Python,数据开发助理工程师\n岗位职责：\n1、建立和完善业务应用的数据体系、包括数据收集、数据模型...
28,ETL工程师(实习),深圳·南山区·科技园,发布于04月06日,150-200元/天,4天/周3个月本科,汇锦集团,工程施工未融资20-99人,Kettle SQL Java Python MySQL,1 负责数据采集框架调研，基于kettle，建立ETL工作流程\n2 配合产品同事，完成数据...
29,数据分析实习生,深圳·福田区·购物公园,发布于07月20日,150-200元/天,3天/周1个月硕士,乐瑞资产,互联网金融不需要融资100-499人,数据分析 数据挖掘 ETL,目前我们正在做：\n1. 基于大数据技术对全球金融市场的挖掘和分析\n2. 金融市场全品种资...