In [15]:
from sqlalchemy import create_engine
import pandas
engine = create_engine("mysql+pymysql://{}:{}@{}/{}?charset={}".format('root', 'welcome2019', '127.0.0.1:3306', 'webdataofteachers','utf8mb4'))

def get_data1(tag):
    sql = "select city,avg(avg_wage)as wage from jobs2 where tag like '%{}%' group by city ".format(tag)
    df = pd.read_sql_query(sql,engine)
    return df

In [3]:
data=[]
city = [
    "上海",
    "北京",
    "天津",
    "广州",
    "杭州",
    "深圳",
    "苏州",
    "西安",
]
tag = ["前端", "后端","系统", "安全","测试","运维","数据","算法"]
for t in tag:
    df=get_data1(t)
    for x in df.values:
        data.append([t,x[0],x[1]])

D:\anaconda\envs\python36\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect string value: '\\xD6\\xD0\\xB9\\xFA\\xB1\\xEA...' for column 'VARIABLE_VALUE' at row 484")
  result = self._query(query)

In [7]:
from pyecharts import options as opts
from pyecharts.charts import Bar3D
c = (
    Bar3D()
    .add(
        "",
        data,
        xaxis3d_opts=opts.Axis3DOpts(tag, type_="category",interval=0),
        yaxis3d_opts=opts.Axis3DOpts(city, type_="category",interval=0),
        zaxis3d_opts=opts.Axis3DOpts(type_="value"),
        shading="realistic"
    )
    .set_global_opts(
        visualmap_opts=opts.VisualMapOpts(max_=200000),
        title_opts=opts.TitleOpts(title="薪资概览"),
    )
    .render("./result/薪资概览.html")
)

In [26]:
from pyecharts import options as opts
from pyecharts.charts import PictorialBar
from pyecharts.globals import SymbolType
def get_data2():
    sql = "select city,avg(max_wage) as max_w,avg(min_wage) as min_w from jobs2 where city is not null group by city"
    df = pd.read_sql_query(sql, engine)
    return df
d=get_data2()
x = list(d.city)
y1 = list(d.max_w)
y2=list(d.min_w)
from pyecharts import options as opts
from pyecharts.charts import Bar
from pyecharts.faker import Faker

c = (
    PictorialBar(init_opts=opts.InitOpts(width='650px', height='500px',theme=ThemeType.VINTAGE))
    .add_xaxis(x)
    .add_yaxis("最高薪资",y1,label_opts=opts.LabelOpts(is_show=False),
        symbol_size=30,
        symbol_repeat="fixed",
        symbol_offset=[-10,0],
        is_symbol_clip=True,
        symbol="image://https://cdn.icon-icons.com/icons2/1675/PNG/128/3890942-bag-cash-currency-euro-money-sack_111189.png",
        color="#b7ba6b",
        symbol_margin=1)
    .add_yaxis("最低薪资",y2,label_opts=opts.LabelOpts(is_show=False),
        symbol_size=30,
        symbol_repeat="fixed",
        symbol_offset=[10,0],
        is_symbol_clip=True,
        symbol="image://https://cdn.icon-icons.com/icons2/1138/PNG/128/1486395310-14-payment_80577.png",
        color="#faa755",
        symbol_margin=1)
    .set_global_opts(title_opts=opts.TitleOpts(title="主要城市薪资分布"))
    .set_series_opts(
        label_opts=opts.LabelOpts(is_show=False),
        markline_opts=opts.MarkLineOpts(
            data=[opts.MarkLineItem(y=50, name="yAxis=50")]
        ),
    )
    .render("./result/主要城市薪资分布.html")
)

In [9]:
import pandas
tag = ["前端", "后端","系统", "安全","测试","运维","数据","算法"]
y11=[]
y22=[]
def get_data3(tag):
    sql="select avg(max_wage) as max_w,avg(min_wage) as min_w from jobs2 where tag like '%{}%'".format(tag)
    df=pandas.read_sql_query(sql,engine)
    return df
for t in tag:
    df=get_data3(t)
    y11.append(df.max_w.values[0])
    y22.append(df.min_w.values[0])
c = (
    Bar()
    .add_xaxis(tag)
    .add_yaxis("最高薪资",y11)
    .add_yaxis("最低薪资",y22)
    .set_global_opts(title_opts=opts.TitleOpts(title="主要技术薪资分布"))
    .set_series_opts(
        label_opts=opts.LabelOpts(is_show=False),
        markline_opts=opts.MarkLineOpts(
            data=[opts.MarkLineItem(y=50, name="yAxis=50")]
        ),
    )
    .render("./result/主要技术薪资分布.html")
)

In [10]:
# def get_data4(tag):
#     sql='''
#         select city,avg(max_wage) as max_w,avg(min_wage) as min_w
#         from jobs2 
#         where tag like "%前端%" and city is not null
#         group by city
#     '''
#     df=pandas.read_sql_query(sql,engine)
#     return df

In [27]:
from pyecharts.globals import ThemeType
sql='''
        select city,round(avg(max_wage)) as max_w,round(avg(min_wage)) as min_w
        from jobs2 
        where tag like "%前端%" and city is not null
        group by city
    '''
d=pandas.read_sql_query(sql,engine)
x = list(d.city)
y1=list(d.max_w)
y2=list(d.min_w)

c = (
    PictorialBar(init_opts=opts.InitOpts(width='650px', height='500px',theme=ThemeType.VINTAGE))
    .add_xaxis(x)
    .add_yaxis("最高薪资",y1,
        label_opts=opts.LabelOpts(is_show=False),
        symbol_size=30,
        symbol_repeat="fixed",
        symbol_offset=[-10,0],
        is_symbol_clip=True,
        symbol="image://https://cdn.icon-icons.com/icons2/1675/PNG/128/3890942-bag-cash-currency-euro-money-sack_111189.png",
        color="#b7ba6b",
        symbol_margin=1)
        .add_yaxis("最低薪资",y2,
        label_opts=opts.LabelOpts(is_show=False),
        symbol_size=30,
        symbol_repeat="fixed",
        symbol_offset=[10,0],
        is_symbol_clip=True,
        symbol="image://https://cdn.icon-icons.com/icons2/1138/PNG/128/1486395310-14-payment_80577.png",
        color="#faa755",
        symbol_margin=1)
#     .reversal_axis()
    .set_global_opts(title_opts=opts.TitleOpts(title="主要城市薪资分布"))
    .set_series_opts(
        label_opts=opts.LabelOpts(is_show=False),
        markline_opts=opts.MarkLineOpts(
            data=[opts.MarkLineItem(y=50, name="yAxis=50")]
        ),
    )
    .render("./result/城市薪资分布.html")
)

In [30]:
# from pyecharts import options as opts
# from pyecharts.charts import Pie
# sql='''
#     select xueli,count(*) as num
#     from jobs2
#     where tag like "%前端%"
#     group by xueli
# '''
# res=pandas.read_sql_query(sql,engine)
# x=list(res.xueli)
# y=list(res.num)
# c = (
#     Pie()
#     .add(
#         series_name="最低薪资",
#         data_pair=[list(z) for z in zip(x,y)],
#         radius=["30%", "55%"],
#         center=None,
#         label_opts=opts.LabelOpts(),
#     )
#     .set_global_opts(title_opts=opts.TitleOpts(title="学历占比玫瑰图",pos_left="center",pos_top="center"))
#     .render("./result/学历占比玫瑰图.html")
# )

In [94]:
from pyecharts.charts import Pie
sql='''
    select xueli,count(*) as num
    from jobs2
    where tag like "%前端%"
    group by xueli
'''
res=pandas.read_sql_query(sql,engine)
x_data = list(res.xueli)
y_data = list(res.num)
data_pair = [list(z) for z in zip(x_data, y_data)]
data_pair.sort(key=lambda x: x[1])

c=(Pie(init_opts=opts.InitOpts(width='650px', height='500px'))
    .add(
    "",
    data_pair=[list(z) for z in zip(x_data, y_data)],
    radius=["40%", "55%"],
    label_opts=opts.LabelOpts(
        position="outside",
        formatter="{b|{b}: }{c}  {per|{d}%}  ",
        background_color="#eee",
        border_color="#aaa",
        border_width=1,
        border_radius=2,
        rich={

            "b": {"fontSize": 10, "lineHeight": 20},
            "per": {
                "color": "#eee",
                "backgroundColor": "#334455",
                "padding": [0,0],
                "borderRadius": 0,
            },
        },
    )
)
    .set_global_opts(
    title_opts=opts.TitleOpts(
        title="学历占比分析", title_textstyle_opts=opts.TextStyleOpts(font_size=23),pos_top='0px',pos_left='300px'),
    tooltip_opts=opts.TooltipOpts(is_show=True),
    legend_opts=opts.LegendOpts(is_show=False)
    )
    .render("./result/学历占比图.html")
)

In [101]:
from pyecharts.charts import Funnel
sql='''
    select distinct(company),avg_wage/1000 as wage
    from jobs2
    where tag like "%前端%"
    ORDER BY avg_wage DESC
    limit 15
'''
res=pandas.read_sql_query(sql,engine)
x=list(res.company)
y=list(res.wage)  
c= (
        Funnel(init_opts=opts.InitOpts(width="650px"))
            .add(
            "公司-平均薪资(K)",
            [list(z) for z in zip(x, y)],
            
            sort_="ascending",
            label_opts=opts.LabelOpts(position="inside"),
        )
            .set_global_opts(title_opts=opts.TitleOpts(title="公司平均薪资漏斗图", title_textstyle_opts=opts.TextStyleOpts(font_size=23),pos_top='0px',pos_left='250px'),
                             legend_opts=opts.LegendOpts(is_show=False))
            .render("./result/公司平均薪资漏斗图.html")
    )

In [113]:
import jieba.analyse
sql='''
    select detail
    from jobs2
    where tag like '%前端%'
    limit 100
'''
res=pandas.read_sql_query(sql,engine)
word=[]
count={}
for w in res.values:
    word.append(jieba.analyse.extract_tags(w[0], topK=100, withWeight=True))
for i in word:
    for j in i:
        count[j[0]]=int(j[1]*1000)
data=list(count.items())

from pyecharts.charts import WordCloud
c= (
        WordCloud(init_opts=opts.InitOpts(width='650px', height='500px'))
            .add(series_name="技术词云分析", data_pair=data, word_size_range=[5, 50],pos_left='150px')
            .set_global_opts(
            title_opts=opts.TitleOpts(
                title="技术词云分析", title_textstyle_opts=opts.TextStyleOpts(font_size=23),pos_left='300px'),
            tooltip_opts=opts.TooltipOpts(is_show=True),
        )
        .render("./result/词云分析.html")
    )

In [99]:
import pandas
sql='''
    select `month`,round(avg(max_wage))as max_wage,round(avg(min_wage)) as min_wage
    from jobs2
    where tag like "%前端%" and `month`!=" "
    group by `month`
'''
res=pandas.read_sql_query(sql,engine)
x=list(res.month)
y1=list(res.max_wage)
y2=list(res.min_wage)

import pyecharts.options as opts
from pyecharts.charts import Line

c = (
    Line(init_opts=opts.InitOpts(width='650px', height='500px',theme=ThemeType.VINTAGE))
    .add_xaxis(xaxis_data=x)
    .add_yaxis(
        "平均最高薪资",
        y1,
        symbol="image://https://cdn.icon-icons.com/icons2/1675/PNG/128/3890942-bag-cash-currency-euro-money-sack_111189.png",
        symbol_size=20,
        linestyle_opts=opts.LineStyleOpts(color="red", width=3, type_="dashed"),
        itemstyle_opts=opts.ItemStyleOpts(
            border_width=3, border_color="yellow", color="pink"
        ),
    )
    .add_yaxis(
        "平均最低薪资",
        y2,
        symbol="image://https://cdn.icon-icons.com/icons2/1138/PNG/128/1486395310-14-payment_80577.png",
        symbol_size=20,
        linestyle_opts=opts.LineStyleOpts(color="green", width=3, type_="dashed"),
        itemstyle_opts=opts.ItemStyleOpts(
            border_width=3, border_color="yellow", color="blue"
        ),
    )
    .set_global_opts(title_opts=opts.TitleOpts(title="薪资变化图"))
    .render("./result/薪资变化图.html")
)

In [28]:
from pyecharts import options as opts
from pyecharts.charts import Geo
from pyecharts.globals import ChartType
sql='''
    select pos,count(*) as c
    from jobs2
    where city="北京" and pos!=" "
    group by pos
'''
res=pandas.read_sql_query(sql,engine)
x=list(res.pos)
y=list(res.c)
c = (
    Geo(init_opts=opts.InitOpts(width='650px', height='500px',theme=ThemeType.VINTAGE))
    .add_schema(maptype="北京")
    .add(
        "geo",
        [list(z) for z in zip(x,y)],
        type_=ChartType.EFFECT_SCATTER,
    )
    .set_series_opts(label_opts=opts.LabelOpts(is_show=False))
    .set_global_opts(title_opts=opts.TitleOpts(title="公司分布"))
    .render("./result/公司分布.html")
)

In [36]:
from pyecharts.charts import Funnel
sql='''
    select company,count(*) as c
    from jobs2
    where city="北京"
    group by company
    order by c DESC
    limit 20
'''
res=pandas.read_sql_query(sql,engine)
x=list(res.company)
y=list(res.c)
c = (
    Funnel(init_opts=opts.InitOpts(width='650px', height='500px',theme=ThemeType.VINTAGE))
    .add(
        "招工数量",
        [list(z) for z in zip(x,y)],
        label_opts=opts.LabelOpts(position="inside"),
    )
    .set_global_opts(title_opts=opts.TitleOpts(title="招工数量top20",pos_top='0px',pos_left='250px'),
                             legend_opts=opts.LegendOpts(is_show=False))
    .render("./result/招工数量top20.html")
)

In [46]:
from pyecharts.charts import Liquid
from pyecharts.commons.utils import JsCode
sql='''
    select round(avg(avg_wage)) as awage
    from jobs2
    where city="北京"
'''
res=pandas.read_sql_query(sql,engine)
y=list(res.awage)

c = (
    Liquid()
    .add(
        "lq",
        y,
        label_opts=opts.LabelOpts(
            font_size=20,
            formatter=JsCode(
                """function (param) {
                    return (Math.floor(param.value * 10000) / 100) + '%';
                }"""
            ),
            position="inside",
        ),
    )
    .set_global_opts(title_opts=opts.TitleOpts(title="平均薪资"))
    .render("./result/平均薪资.html")
)

TypeError: 'int' object is not iterable

In [45]:
y

[148126.96022727274]

In [43]:
from pyecharts import options as opts
from pyecharts.charts import Liquid
from pyecharts.commons.utils import JsCode

c = (
    Liquid()
    .add(
        "lq",
        [0.3254],
        label_opts=opts.LabelOpts(
            font_size=50,
            formatter=JsCode(
                """function (param) {
                    return (Math.floor(param.value * 10000) / 100) + '%';
                }"""
            ),
            position="inside",
        ),
    )
    .set_global_opts(title_opts=opts.TitleOpts(title="Liquid-数据精度"))
    .render("./result/liquid_data_precision.html")
)